* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button, input, div.footer div[class|="item"] > div .review-form textarea, textarea {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

html, body {
  width: 100vw;
  height: 100vh;
  font-family: Poppins;
  overflow-x: hidden;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

div.order-now-bar {
  display: none;
}

@media (min-width: 577px) {
  div.order-now-bar {
    white-space: nowrap;
    width: 100%;
    background: #1f7fd6;
    margin: 40px 0 0;
    padding: 1% 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  div.order-now-bar {
    font-size: 11px;
  }
}

@media (min-width: 577px) {
  div.order-now-bar span {
    color: gold;
  }
  div.order-now-bar button {
    border-radius: 32px;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    margin-left: 5%;
    padding: 15px 30px;
    font-size: 16px;
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  div.order-now-bar button {
    font-size: 11px;
  }
}

div.header {
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 69px;
  background: #1f7fd6;
  -webkit-box-shadow: 0 1.38px 6.21px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.38px 6.21px rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.header .item-1, div.header .item-2, div.header .item-3 {
  height: 100%;
}

div.header .item-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 180px;
}

div.header .item-1 .logo {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 0 50px 50px 0;
  -webkit-box-shadow: 0 0.69px 3.45px #000;
          box-shadow: 0 0.69px 3.45px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.header .item-1 .logo img {
  margin-right: 15%;
  width: 126.27px;
}

div.header .item-extra {
  display: none;
}

div.header .item-2 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

div.header .item-2 .nav {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  div.header .item-2 .nav {
    width: 100%;
  }
}

div.header .item-2 .nav a {
  font-size: 11.73px;
  font-weight: 500;
  color: #fff;
}

div.header .item-2 .nav li:first-child > a {
  color: #4e4e4e;
  cursor: default;
}

div.header .item-2 .nav li:first-child > a:hover {
  text-decoration: none;
}

div.header .item-3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.header .item-3 button {
  width: 50%;
  min-width: 120px;
  height: 50px;
  font-size: 11.73px;
  font-weight: 500;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  div.header .item-3 {
    display: none;
  }
}

@media (max-width: 576px) {
  div.header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  div.header .item-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    min-width: 100%;
    height: auto;
  }
  div.header .item-2 .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background: #fff;
    padding: 10px 0;
    display: none;
  }
  div.header .item-2 .nav li {
    margin: 10px 0;
    width: 100%;
    text-align: center;
  }
  div.header .item-2 .nav a {
    color: #000;
    font-size: 16px;
  }
  div.header .item-1 {
    -webkit-box-flex: 1;
        -ms-flex: 1 2 auto;
            flex: 1 2 auto;
    min-width: none;
  }
  div.header .item-1 .logo {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  div.header .item-1 .logo img {
    margin-right: 10%;
    width: auto;
  }
  div.header .item-extra {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 2.5;
        -ms-flex: 2.5 1 auto;
            flex: 2.5 1 auto;
    height: 70%;
  }
  div.header .item-extra .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    margin-right: 20px;
    -webkit-transition: all .25s linear;
    transition: all .25s linear;
  }
  div.header .item-extra .hamburger span {
    height: 2px;
    width: 40px;
    background: #fff;
  }
  div.header .item-extra .hamburger.active {
    height: auto;
  }
  div.header .item-extra .hamburger.active > span:nth-child(2) {
    display: none;
  }
  div.header .item-extra .hamburger.active > span:first-child {
    -webkit-transform: translateY(1px) rotate(-45deg);
            transform: translateY(1px) rotate(-45deg);
  }
  div.header .item-extra .hamburger.active > span:last-child {
    -webkit-transform: translateY(-1px) rotate(45deg);
            transform: translateY(-1px) rotate(45deg);
  }
  div.header .item-3 {
    display: none;
  }
}

div.landing-page {
  background: url(../img/landing_img.jpg) no-repeat center/cover;
  width: 100vw;
  height: 100%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.landing-page::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

div.landing-page .landing-contents {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.landing-page .landing-contents .item-1, div.landing-page .landing-contents .item-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

div.landing-page .landing-contents .item-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 450px;
}

@media (min-width: 993px) {
  div.landing-page .landing-contents .item-1 div.landing-prim-content {
    margin-right: 7%;
  }
}

div.landing-page .landing-contents .item-1 div.landing-prim-content p:first-child {
  font-size: 60px;
  max-width: 300px;
  color: #fff;
  line-height: 60px;
  text-shadow: 0 1px 5px #000;
}

div.landing-page .landing-contents .item-1 div.landing-prim-content p:first-child + p {
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  margin: 5px 0;
  white-space: nowrap;
}

div.landing-page .landing-contents .item-1 div.landing-prim-content p:first-child + p span {
  color: gold;
}

div.landing-page .landing-contents .item-1 div.landing-prim-content p:first-child + p img {
  display: none;
}

@media (min-width: 769px) {
  div.landing-page .landing-contents .item-1 div.landing-prim-content p:first-child + p {
    position: relative;
  }
  div.landing-page .landing-contents .item-1 div.landing-prim-content p:first-child + p img {
    display: inline;
    position: absolute;
    right: -7%;
    top: 20px;
  }
}

div.landing-page .landing-contents .item-1 div.landing-prim-content .ctas button {
  width: 165px;
  height: 55px;
  border-radius: 32px;
  background: #1f7fd6;
  color: #fff;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.53);
          box-shadow: 0 3px 0 rgba(0, 0, 0, 0.53);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

div.landing-page .landing-contents .item-1 div.landing-prim-content .ctas button:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.53);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0.53);
}

div.landing-page .landing-contents .item-1 div.landing-prim-content .ctas button:last-child {
  display: none;
}

@media (max-width: 768px) {
  div.landing-page .landing-contents .item-2 {
    display: none;
  }
  div.landing-page .landing-contents .item-1 div.landing-prim-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  div.landing-page .landing-contents .item-1 div.landing-prim-content p:first-child {
    max-width: 600px;
    text-align: center;
    width: 100%;
  }
  div.landing-page .landing-contents .item-1 div.landing-prim-content p:first-child + p {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: center;
    width: 100%;
  }
  div.landing-page .landing-contents .item-1 div.landing-prim-content .ctas button:last-child {
    display: inline;
    background: transparent;
    border: 1px solid;
    margin-top: 10px;
  }
  div.landing-page .landing-contents .item-1 div.landing-prim-content .ctas button:last-child a {
    width: 100%;
    height: 100%;
    display: block;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  div.landing-page .landing-contents .item-1 div.landing-prim-content .ctas button:last-child a:hover, div.landing-page .landing-contents .item-1 div.landing-prim-content .ctas button:last-child a:active {
    text-decoration: none;
  }
}

@media (max-width: 576px) {
  div.landing-page .landing-contents .item-1 {
    min-width: 0;
  }
  div.landing-page .landing-contents .item-1 div.landing-prim-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  div.landing-page .landing-contents .item-1 div.landing-prim-content p:first-child {
    font-weight: 500;
    font-size: 13vw;
    text-align: center;
    line-height: 13vw;
  }
  div.landing-page .landing-contents .item-1 div.landing-prim-content p:first-child + p {
    font-size: 2.7vw;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  div.landing-page .landing-contents .item-1 div.landing-prim-content .ctas button:last-child {
    display: block;
  }
}

div.landing-page .landing-contents .item-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 993px) {
  div.landing-page .landing-contents .item-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  div.landing-page .landing-contents .item-2 {
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    opacity: 0;
    -webkit-transition: opacity .25s linear;
    transition: opacity .25s linear;
  }
  div.landing-page .landing-contents .item-2.modal-present {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

div.landing-page .landing-contents .item-2 .order-form {
  font-family: Dosis;
  width: 296px;
  height: 485px;
  margin-top: 60px;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  padding: 20px 20px 0px;
}

@media (max-width: 768px) {
  div.landing-page .landing-contents .item-2 .order-form {
    -webkit-box-shadow: 0 0 60px 30px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 60px 30px rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 576px) {
  div.landing-page .landing-contents .item-2 .order-form {
    height: auto;
    padding-bottom: 15px;
  }
}

div.landing-page .landing-contents .item-2 .order-form .form-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

div.landing-page .landing-contents .item-2 .order-form form .field {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.landing-page .landing-contents .item-2 .order-form form .field input, div.landing-page .landing-contents .item-2 .order-form form .field div.footer div[class|="item"] > div .review-form textarea, div.footer div[class|="item"] > div .review-form div.landing-page .landing-contents .item-2 .order-form form .field textarea {
  width: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  outline: none;
  height: 40px;
  font-family: inherit;
  border-radius: 5px;
  background: #ececec;
  margin: 8.5px 0;
  padding-left: 15px;
  font-weight: 600;
}

div.landing-page .landing-contents .item-2 .order-form form .field input::-webkit-input-placeholder, div.landing-page .landing-contents .item-2 .order-form form .field div.footer div[class|="item"] > div .review-form textarea::-webkit-input-placeholder, div.footer div[class|="item"] > div .review-form div.landing-page .landing-contents .item-2 .order-form form .field textarea::-webkit-input-placeholder {
  color: #000;
}

div.landing-page .landing-contents .item-2 .order-form form .field input[disabled], div.landing-page .landing-contents .item-2 .order-form form .field div.footer div[class|="item"] > div .review-form textarea[disabled], div.footer div[class|="item"] > div .review-form div.landing-page .landing-contents .item-2 .order-form form .field textarea[disabled] {
  color: #000;
}

div.landing-page .landing-contents .item-2 .order-form form .field:nth-last-of-type(3), div.landing-page .landing-contents .item-2 .order-form form .field:nth-last-of-type(2) {
  position: relative;
}

div.landing-page .landing-contents .item-2 .order-form form .field:nth-last-of-type(3) input, div.landing-page .landing-contents .item-2 .order-form form .field:nth-last-of-type(3) div.footer div[class|="item"] > div .review-form textarea, div.footer div[class|="item"] > div .review-form div.landing-page .landing-contents .item-2 .order-form form .field:nth-last-of-type(3) textarea, div.landing-page .landing-contents .item-2 .order-form form .field:nth-last-of-type(2) input, div.landing-page .landing-contents .item-2 .order-form form .field:nth-last-of-type(2) div.footer div[class|="item"] > div .review-form textarea, div.footer div[class|="item"] > div .review-form div.landing-page .landing-contents .item-2 .order-form form .field:nth-last-of-type(2) textarea {
  padding-right: 23px;
  overflow-x: auto;
  max-width: 49%;
}

div.landing-page .landing-contents .item-2 .order-form form .field:nth-last-of-type(3) input:first-child, div.landing-page .landing-contents .item-2 .order-form form .field:nth-last-of-type(3) div.footer div[class|="item"] > div .review-form textarea:first-child, div.footer div[class|="item"] > div .review-form div.landing-page .landing-contents .item-2 .order-form form .field:nth-last-of-type(3) textarea:first-child, div.landing-page .landing-contents .item-2 .order-form form .field:nth-last-of-type(2) input:first-child, div.landing-page .landing-contents .item-2 .order-form form .field:nth-last-of-type(2) div.footer div[class|="item"] > div .review-form textarea:first-child, div.footer div[class|="item"] > div .review-form div.landing-page .landing-contents .item-2 .order-form form .field:nth-last-of-type(2) textarea:first-child {
  cursor: pointer;
}

div.landing-page .landing-contents .item-2 .order-form form .field:nth-last-of-type(3)::after, div.landing-page .landing-contents .item-2 .order-form form .field:nth-last-of-type(2)::after {
  position: absolute;
  content: '';
  width: 20px;
  top: 40%;
  bottom: 0;
  left: -15%;
  right: 0;
  margin: auto auto;
  background: url(../img/dropdown.png) no-repeat;
  background-size: auto;
}

div.landing-page .landing-contents .item-2 .order-form form .field span[id*='trigger'] {
  position: absolute;
  width: 125px;
  height: 39px;
  background: red;
  top: 10px;
  opacity: 0;
  cursor: pointer;
}

div.landing-page .landing-contents .item-2 .order-form form .notice {
  font-size: 12px;
  text-align: center;
  line-height: 4px;
  color: silver;
  font-weight: 600;
}

div.landing-page .landing-contents .item-2 .order-form form button {
  width: 100%;
  background: #1f7fd6;
  height: 50px;
  margin-top: 17px;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
}

div.how-it-works-section {
  width: 84%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5%;
}

div.how-it-works-section p:first-child {
  color: #333;
  font-size: 40px;
  font-weight: 900;
  line-height: 40px;
}

@media (max-width: 768px) {
  div.how-it-works-section p:first-child {
    font-size: 5vw;
    font-weight: 900;
    line-height: 5vw;
  }
}

div.how-it-works-section p:first-child span:first-child {
  font-weight: 300;
}

div.how-it-works-section p:first-child span:first-child + span {
  color: #1f7fd6;
}

div.how-it-works-section p:first-child + p {
  color: #333;
  font-weight: 500;
}

div.how-it-works-section p:first-child + p span {
  color: #1f7fd6;
}

@media (max-width: 576px) {
  div.how-it-works-section p:first-child + p {
    font-size: 2.5vw;
  }
}

div.how-it-works-section .steps {
  padding: 0 2%;
  margin-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div.how-it-works-section .steps .step {
  width: 370px;
  margin-top: 35px;
}

@media (max-width: 576px) {
  div.how-it-works-section .steps .step {
    width: 95%;
  }
}

@media (max-width: 992px) {
  div.how-it-works-section .steps .step {
    width: 300px;
  }
}

@media (max-width: 768px) {
  div.how-it-works-section .steps .step {
    width: 270px;
  }
}

div.how-it-works-section .steps .step #step-ill-box-1 {
  background-image: url(../img/step_1.png);
}

div.how-it-works-section .steps .step#step-1 {
  position: relative;
}

div.how-it-works-section .steps .step#step-1::after {
  position: absolute;
  content: "1";
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #fff;
  font-size: 21px;
  font-weight: 500;
  top: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 5px rgba(31, 127, 214, 0.3);
          box-shadow: 0 0 5px rgba(31, 127, 214, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1f7fd6;
}

div.how-it-works-section .steps .step #step-ill-box-2 {
  background-image: url(../img/step_2.png);
}

div.how-it-works-section .steps .step#step-2 {
  position: relative;
}

div.how-it-works-section .steps .step#step-2::after {
  position: absolute;
  content: "2";
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #fff;
  font-size: 21px;
  font-weight: 500;
  top: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 5px rgba(31, 127, 214, 0.3);
          box-shadow: 0 0 5px rgba(31, 127, 214, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1f7fd6;
}

div.how-it-works-section .steps .step #step-ill-box-3 {
  background-image: url(../img/step_3.png);
}

div.how-it-works-section .steps .step#step-3 {
  position: relative;
}

div.how-it-works-section .steps .step#step-3::after {
  position: absolute;
  content: "3";
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #fff;
  font-size: 21px;
  font-weight: 500;
  top: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 5px rgba(31, 127, 214, 0.3);
          box-shadow: 0 0 5px rgba(31, 127, 214, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1f7fd6;
}

div.how-it-works-section .steps .step #step-ill-box-4 {
  background-image: url(../img/step_4.png);
}

div.how-it-works-section .steps .step#step-4 {
  position: relative;
}

div.how-it-works-section .steps .step#step-4::after {
  position: absolute;
  content: "4";
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #fff;
  font-size: 21px;
  font-weight: 500;
  top: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 5px rgba(31, 127, 214, 0.3);
          box-shadow: 0 0 5px rgba(31, 127, 214, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1f7fd6;
}

div.how-it-works-section .steps .step #step-ill-box-5 {
  background-image: url(../img/step_5.png);
}

div.how-it-works-section .steps .step#step-5 {
  position: relative;
}

div.how-it-works-section .steps .step#step-5::after {
  position: absolute;
  content: "5";
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #fff;
  font-size: 21px;
  font-weight: 500;
  top: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 5px rgba(31, 127, 214, 0.3);
          box-shadow: 0 0 5px rgba(31, 127, 214, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1f7fd6;
}

div.how-it-works-section .steps .step .step-ill-box {
  height: 230px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 2px 0 0 #1f7fd6, -2px 0 0 #1f7fd6, 0 -1px 1px rgba(31, 127, 214, 0.2);
          box-shadow: 2px 0 0 #1f7fd6, -2px 0 0 #1f7fd6, 0 -1px 1px rgba(31, 127, 214, 0.2);
}

div.how-it-works-section .steps .step .step-text {
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  max-width: 250px;
  margin: 10px auto 20px;
}

div.how-it-works-section .steps .step .step-text span {
  color: #1f7fd6;
}

div.testimonials-section {
  background: #f6f9fc;
  padding: 3vw 5% 0;
  margin: 0 auto;
  height: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.testimonials-section > p:first-child {
  color: #333;
  font-size: 30px;
  font-weight: 900;
  line-height: 35px;
}

@media (min-width: 769px) {
  div.testimonials-section > p:first-child {
    font-size: 2.5vw;
    font-weight: 900;
    line-height: 3.5vw;
  }
}

@media (max-width: 768px) {
  div.testimonials-section > p:first-child {
    font-size: 3.5vw;
    font-weight: 900;
    line-height: 4.5vw;
  }
}

div.testimonials-section > p:first-child span:first-child {
  font-weight: 300;
}

div.testimonials-section > p:first-child span:first-child + span {
  color: #1f7fd6;
}

div.testimonials-section > p:first-child + p {
  color: #333;
  font-weight: 500;
}

div.testimonials-section > p:first-child + p span {
  color: #1f7fd6;
}

@media (max-width: 576px) {
  div.testimonials-section > p:first-child + p {
    font-size: 2.5vw;
  }
}

div.testimonials-section .testimonials-cont {
  margin: 4vh 0;
}

div.testimonials-section .testimonials-cont .testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

div.testimonials-section .testimonials-cont .testimony {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  min-width: 300px;
}

@media (max-width: 768px) {
  div.testimonials-section .testimonials-cont .testimony {
    width: 290px;
    min-width: 290px;
  }
}

@media (max-width: 576px) {
  div.testimonials-section .testimonials-cont .testimony {
    width: 90%;
    min-width: 90%;
  }
}

div.testimonials-section .testimonials-cont .testimony > span {
  line-height: 100px;
  font-size: 100px;
  font-family: Dosis;
  font-weight: 900;
  margin-top: -15px;
  margin-right: 10px;
  color: #1f7fd6;
}

@media (max-width: 768px) {
  div.testimonials-section .testimonials-cont .testimony > span {
    line-height: 70px;
    font-size: 70px;
  }
}

@media (max-width: 768px) {
  div.testimonials-section .testimonials-cont .testimony > span {
    margin-top: -7px;
    margin-right: 5px;
  }
}

div.testimonials-section .testimonials-cont .testimony .testimony-content {
  color: #333;
  padding-right: 5px;
  font-size: 17px;
  font-weight: 300;
  margin: 0 auto;
}

@media (max-width: 768px) {
  div.testimonials-section .testimonials-cont .testimony .testimony-content {
    font-size: 15px;
  }
}

div.testimonials-section .testimonials-cont .testimony .testimony-content .test-info {
  font-size: 14px;
  color: #1f7fd6;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

div.testimonials-section .testimonials-cont .testimony .testimony-content .test-info .test-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 2px;
  border: 2px solid #1f7fd6;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  background-origin: content-box;
  background-clip: content-box;
}

div.testimonials-section .testimonials-cont .testimony .testimony-content .test-info .test-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.testimonials-section .testimonials-cont .testimony .testimony-content .test-info .test-name {
  margin: 0 5px;
}

div.testimonials-section .testimonials-cont .testimony .testimony-content .test-info i.fas {
  color: #1f7fd6;
}

div.testimonials-section .testimonials-cont .testimony .testimony-content .test-info i.far {
  color: #ccc;
}

div.testimonials-section .caro-nav {
  margin: 4% 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.testimonials-section .caro-nav span {
  width: 6px;
  height: 6px;
  margin: 0 2px;
  background: #505050;
  border-radius: 50%;
}

div.testimonials-section .caro-nav span.active {
  background: #1f7fd6;
}

div.footer {
  width: 100%;
  background: #161616;
  padding: 0 6%;
}

div.footer .footer-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 576px) {
  div.footer .footer-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

div.footer div[class|="item"] {
  margin: 2% 0;
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 576px) {
  div.footer div[class|="item"] {
    margin: 4% 0;
  }
}

div.footer div[class|="item"] > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media (max-width: 576px) {
  div.footer div[class|="item"] > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

div.footer div[class|="item"] > div > p {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

div.footer div[class|="item"] > div > p .thin {
  font-weight: 300;
}

div.footer div[class|="item"] > div > p > span {
  position: relative;
}

div.footer div[class|="item"] > div > p > span::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background: #1f7fd6;
  bottom: -2px;
  z-index: 2;
}

div.footer div[class|="item"] > div .line {
  height: 1px;
  width: 100%;
  background: #272525;
  margin-bottom: 15px;
}

@media (max-width: 576px) {
  div.footer div[class|="item"] > div .line {
    width: 50%;
  }
}

div.footer div[class|="item"] > div .about-content {
  color: #c4c4c4;
  font-size: 12px;
  font-weight: 300;
  line-height: 15px;
  max-width: 225px;
}

div.footer div[class|="item"] > div .review-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.footer div[class|="item"] > div .review-form input, div.footer div[class|="item"] > div .review-form textarea {
  font-family: inherit;
  color: #000;
  width: 225px;
  height: 40px;
  border: 2px solid #1f7fd6;
  border-radius: 5px;
  font-size: 16px;
  padding-left: 10px;
}

div.footer div[class|="item"] > div .review-form input:nth-child(2), div.footer div[class|="item"] > div .review-form textarea:nth-child(2) {
  color: #fff;
  margin-top: 5px;
}

div.footer div[class|="item"] > div .review-form textarea {
  height: 125px;
  margin-top: 5px;
  padding-top: 5px;
}

div.footer div[class|="item"] > div .review-form .form-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 225px;
  margin-top: 5px;
}

div.footer div[class|="item"] > div .review-form .form-bottom button {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 85px;
  height: 45px;
  border-radius: 50px;
  background: #1f7fd6;
  color: #fff;
  font-weight: 500;
}

div.footer div[class|="item"] > div .review-form .form-bottom a i {
  cursor: pointer;
  font-style: normal;
  color: #fff;
  font-size: 20px;
}

div.footer div[class|="item"] > div .review-form .form-bottom a i:hover {
  color: #1f7fd6;
}

div.footer div[class|="item"] > div .review-form .form-bottom a:nth-child(2) > i {
  margin: 0 3px;
}

div.footer div[class|="item"] .copyright {
  color: #c4c4c4;
  font-size: 12px;
  font-weight: 300;
  border-top: 1px solid #272525;
  padding: 5px 0;
}

div.footer div[class|="item"] .review-service > p > span {
  margin-right: 10px;
}

div.footer div[class|="item"] .review-service i {
  color: #ccc;
  cursor: pointer;
}

div.footer div[class|="item"] .review-service i.picked {
  color: #1f7fd6;
}

@media (max-width: 576px) {
  div.footer .item-2 {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  div.footer .item-1 .copyright {
    margin-top: 20px;
  }
  div.footer .item-1 .about-content {
    text-align: center;
  }
}

div.dish-list {
  position: fixed;
  width: 100%;
  max-width: 296px;
  min-width: 296px;
  background: #fff;
  height: 80%;
  top: 10vh;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 60px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 60px 30px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  opacity: 0;
  -webkit-transition: opacity .25s linear;
  transition: opacity .25s linear;
}

@media (min-width: 769px) {
  div.dish-list {
    position: absolute;
  }
}

div.dish-list .search-bar {
  width: 100%;
  padding: 0 5%;
  margin: 10px auto;
  background: #fff;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.dish-list .search-bar input, div.dish-list .search-bar div.footer div[class|="item"] > div .review-form textarea, div.footer div[class|="item"] > div .review-form div.dish-list .search-bar textarea {
  width: 78%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 21px;
}

div.dish-list .search-bar input::-webkit-input-placeholder, div.dish-list .search-bar div.footer div[class|="item"] > div .review-form textarea::-webkit-input-placeholder, div.footer div[class|="item"] > div .review-form div.dish-list .search-bar textarea::-webkit-input-placeholder {
  color: #ccc;
}

div.dish-list .search-bar button {
  width: 20%;
  border-radius: 5px;
  background: #1f7fd6;
  color: #fff;
  font-size: 15px;
  line-height: 15px;
}

div.dish-list .dish-list-cont {
  overflow-y: auto;
  height: 85%;
}

div.dish-list .dish-list-cont .dish {
  cursor: pointer;
  width: 90%;
  margin: 0 auto;
  height: 45px;
  border-bottom: 2px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.dish-list .dish-list-cont .dish .dish-selector {
  cursor: pointer;
  position: relative;
  width: 25px;
  height: 25px;
  border-style: solid;
  border-color: #ccc;
  margin-right: 10px;
}

div.dish-list .dish-list-cont .dish .dish-selector.selected-main-dish::after, div.dish-list .dish-list-cont .dish .dish-selector.selected-side-dish::after {
  content: "";
  position: absolute;
  margin: auto;
  background: #1f7fd6;
}

div.dish-list#main-dish-list .dish-selector {
  border-width: 3px;
  border-radius: 50%;
}

div.dish-list#main-dish-list .dish-selector.selected-main-dish::after {
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border-radius: 50%;
}

div.dish-list#side-dish-list .dish-selector {
  border-width: 3px;
  border-radius: 5px;
}

div.dish-list#side-dish-list .dish-selector.selected-side-dish::after {
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  border-radius: 2.5px;
}

div.dish-list.modal-present {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.pop-up-page {
  position: fixed;
  width: 100%;
  max-width: 50%;
  min-width: 300px;
  background: #fff;
  height: 80%;
  top: 8%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  border-radius: 25px;
  -webkit-box-shadow: 0 0 60px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 60px 30px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  opacity: 0;
  -webkit-transition: opacity .25s linear;
  transition: opacity .25s linear;
}

@media (min-width: 769px) {
  div.pop-up-page {
    position: absolute;
  }
}

@media (max-width: 768px) {
  div.pop-up-page {
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  div.pop-up-page {
    height: 60%;
  }
}

div.pop-up-page .screw {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #1f7fd6;
  border-radius: 50%;
  border: 5px solid #070782;
}

div.pop-up-page .screw:nth-child(1) {
  left: 15.87px;
  top: 15.87px;
}

div.pop-up-page .screw:nth-child(2) {
  right: 15.87px;
  top: 15.87px;
}

div.pop-up-page .screw:nth-child(3) {
  left: 15.87px;
  bottom: 15.87px;
}

div.pop-up-page .screw:nth-child(4) {
  right: 15.87px;
  bottom: 15.87px;
}

div.pop-up-page span {
  color: #1f7fd6;
}

div.pop-up-page .image-cont {
  width: 50%;
  height: 200px;
  background: url(../img/thank_you.png) no-repeat center/contain;
}

@media (max-width: 992px) {
  div.pop-up-page .image-cont {
    height: 175px;
  }
}

@media (max-width: 768px) {
  div.pop-up-page .image-cont {
    height: 150px;
  }
}

@media (max-width: 576px) {
  div.pop-up-page .image-cont {
    height: 125px;
  }
}

div.pop-up-page .image-cont + p {
  font-size: 3vw;
  font-weight: 700;
  color: #333;
}

@media (max-width: 992px) {
  div.pop-up-page .image-cont + p {
    font-size: 3.5vw;
  }
}

@media (max-width: 768px) {
  div.pop-up-page .image-cont + p {
    font-size: 5vw;
  }
}

@media (max-width: 576px) {
  div.pop-up-page .image-cont + p {
    font-size: 8vw;
  }
}

div.pop-up-page .image-cont + p span {
  font-weight: 300;
  color: #1f7fd6;
}

div.pop-up-page .image-cont + p + p {
  font-size: 1.05vw;
  line-height: 1.05vw;
  font-weight: 500;
}

@media (max-width: 992px) {
  div.pop-up-page .image-cont + p + p {
    font-size: 1.20vw;
    line-height: 1.20vw;
  }
}

@media (max-width: 768px) {
  div.pop-up-page .image-cont + p + p {
    font-size: 1.6vw;
    line-height: 1.6vw;
  }
}

@media (max-width: 576px) {
  div.pop-up-page .image-cont + p + p {
    font-size: 2.5vw;
    line-height: 2.5vw;
  }
}

div.pop-up-page .image-cont + p + p + p {
  margin-top: 5px;
  font-size: 1vw;
  line-height: 2vw;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 992px) {
  div.pop-up-page .image-cont + p + p + p {
    font-size: 1.15vw;
    line-height: 2.15vw;
  }
}

@media (max-width: 768px) {
  div.pop-up-page .image-cont + p + p + p {
    font-size: 1.8vw;
    line-height: 1.8vw;
  }
}

@media (max-width: 576px) {
  div.pop-up-page .image-cont + p + p + p {
    font-size: 2.7vw;
    line-height: 2.7vw;
  }
}

div.pop-up-page .image-cont + p + p + p + a {
  font-size: 1.5vw;
  color: #1f7fd6;
  text-decoration: underline;
}

@media (max-width: 992px) {
  div.pop-up-page .image-cont + p + p + p + a {
    font-size: 2vw;
  }
}

@media (max-width: 768px) {
  div.pop-up-page .image-cont + p + p + p + a {
    font-size: 2.5vw;
  }
}

@media (max-width: 576px) {
  div.pop-up-page .image-cont + p + p + p + a {
    font-size: 4vw;
  }
}

div.pop-up-page .image-cont + p + p + p + a + p {
  font-size: 1.05vw;
  font-weight: 500;
}

@media (max-width: 992px) {
  div.pop-up-page .image-cont + p + p + p + a + p {
    font-size: 1.20vw;
  }
}

@media (max-width: 768px) {
  div.pop-up-page .image-cont + p + p + p + a + p {
    font-size: 1.6vw;
  }
}

@media (max-width: 576px) {
  div.pop-up-page .image-cont + p + p + p + a + p {
    font-size: 2.5vw;
  }
}

div.pop-up-page.modal-present {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */