div.footer {
    width: 100%;
    background: #161616;
    padding: 0 6%;

    .footer-content {
        width: 100%;
        @include flex(space-around);
        @include mobile {
            flex-wrap: wrap;
        }
    }

    div[class|="item"] {
        margin: 2% 0;
        @include mobile {
            margin: 4% 0;
        }
        width: 320px;
        @include flex(space-between, null, column);
        & > div {
            @include flex(null, null, column);
            @include mobile {
                @include flex(null, center, column);
            }
            width: 100%;
            & > p {
                color: $white;
                font: {
                    size: 14px;
                    weight: weight(semibold);
                }
    
                .thin {
                    font-weight: weight(light);
                }

                & > span {
                    position: relative;
                    &::before {
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 1px;
                        background: $prim;
                        bottom: -2px;
                        z-index: 2;
                    }
                }
            }
    
            .line {
                height: 1px;
                width: 100%;
                @include mobile {
                    width: 50%;
                }
                background: #272525;
                margin-bottom: 15px;
            }
            .about-content {
                color: #c4c4c4;
                font: {
                    size: 12px;
                    weight: weight(light)
                }
                line-height:15px;
                max-width: 225px;
            }

            .review-form {
                form {
                    @include flex(null, null, column);
                }
                input {
                    font-family: inherit;
                    color: $black;
                    width: 225px;
                    height: 40px;
                    border: 2px solid $prim;
                    border-radius: 5px;
                    font-size: 16px;
                    padding-left: 10px;

                    &:nth-child(2) {
                        color: #fff;
                        margin-top: 5px;
                    }
                }
                textarea {
                    @extend input;
                    height: 125px;
                    margin-top: 5px;
                    padding-top: 5px;
                }
                .form-bottom {
                    @include flex(space-between, center);
                    max-width: 225px;
                    margin-top: 5px;
                    button {
                        align-self: start;
                        width: 85px;
                        height: 45px;
                        border-radius: 50px;
                        background: $prim;
                        color: $white;
                        font-weight: weight(medium);
                    }
                    a {
                        i {
                            cursor: pointer;
                            font-style: normal;
                            color: $white;
                            font-size: 20px;
                            &:hover {
                                color: $prim;
                            }
                        }
                        &:nth-child(1) > i {
                            &::before {
                                font-family: 'Font Awesome 5 Brands Regular';
                                content: "\f09a";
                            }
                        }
                        &:nth-child(2) > i {
                            &::before {
                                font-family: 'Font Awesome 5 Brands Regular';
                                content: "\f16d";
                            }
                            margin: 0 3px;
                        }
                        &:nth-child(3) > i {
                            &::before {
                                font-family: 'Font Awesome 5 Brands Regular';
                                content: "\f1a0";
                            }
                        }
                    }
                }
            }
        }

        .copyright {
            color: #c4c4c4;
            font: {
                size: 12px;
                weight: weight(light)
            }
            border-top: 1px solid #272525;
            padding: 5px 0;
        }

        .review-service {
            & > p > span {
                margin-right: 10px;
            }
            i {
                font-style: normal;
                color: $prim;
                &::before {
                    font-family: 'Font Awesome 5 Free Regular';
                    content: "\f005";
                }
                &:last-child {
                    color: #ccc;
                    &::before {
                        font-family: 'Font Awesome 5 Free Regular';
                        content: "\f005";
                    }
                }
            }
        }
    }
    @include mobile {
        .item-2 {
            order: -1;
        }

        .item-1 {
            .copyright {
                margin-top: 20px;
            }
            .about-content {
                text-align: center;
            }
        }
    }
}