div.header {
    $pl: 10.5%;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: slice(100px);
    background: $prim;
    box-shadow: 0 slice(2px) slice(9px) rgba(#000, 0.4);
    @include flex(null, center);
    // padding-right: $pl;
    /* @include small-laptop {
        padding-right: $pl / 2;
    }
    @include tablet {
        padding-right: $pl / 2.5;
    } */

    .logo {
        $width: 450px;
        $pl: 200px;
        max-width: slice($width);
        flex: 2;
        @include small-laptop {
            flex: 1.5;
        }
        @include tablet {
            flex: 1.7;
        }
        // min-width: slice(250px);
        height: slice(100px);
        background: $white;
        border-radius: 0 50px 50px 0;
        box-shadow: 0 slice(1px) slice(5px) #000;
        @include flex(flex-end, center);
        // padding-left: slice($pl);
        /* @include small-laptop {
            width: slice($width / 1.2);
            padding-left: $pl / 1.3;
        }
        @include tablet {
            width: slice($width / 2);
            padding-left: $pl / 4;
        } */

        img {
            $width: 183px;
            width: slice($width);
            margin-right: 45px;
            @include tablet {
                margin-right: 30px;
                // margin-left: 20px;
            }
        }
    }

    .nav {
        @include flex(space-evenly, center);
        width: 50%;
        flex: 3;
        @include tablet {
            flex: 4;
        }
        margin-left: 15%;
        @include small-laptop {
            margin-left: 5%;
        }
        @include tablet {
            margin-left: 0;
        }
        // margin-right: slice(10px);
        a {
            font: {
                size: slice(17px);
                weight: weight(medium);
            }
            color: $white;
            // color: $black;
        }

        button {
            $width: 200px;
            $height: 67px;
            max-width: slice($width);
            
            min-width: 90px;
            height: slice(67px);
            /* @include tablet {
                width: slice($width / 1.2);
                height: slice($height / 1.1);
            } */
            font: {
                size: slice(17px);
                weight: weight(medium);
            }
            background: transparent;
            border: 1px solid $white;
            color: $white;
            border-radius: 32px;
            @include flex(center, center);
            flex: 1;
            @include tablet {
                flex: .6;
            }
            align-self: flex-end;
            @include big-screen {
                margin-right: 10%;
            }
        }
    }

    
}