div.landing-page {
    background: url(../img/landing_img.jpg) no-repeat;
    background-size: cover;
    // background-clip: border-box;
    // background-origin: border-box;
    width: 100vw;
    height: 100%;
    position: relative;
    z-index: 1;
    @include small-laptop-up {
        // padding: 0 slice(200px);
    }
    @include flex(center);

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(#000, .25);
        z-index: -1;
    }

    .landing-contents {
        width: 100%;
        height: 100%;
        @include flex();

        .item-1, .item-2 {
            flex: 1;
            height: 100%;
        }

        .item-1 {
            @include flex(center, center);
            min-width: 450px;
            div.landing-prim-content {
                @include big-screen {
                    margin-right: 7%;
                }
                p:first-child {
                    font: {
                        size: 60px;
                    }
                    max-width: 300px;
                    color: $white;
                    line-height: 60px;
                    text-shadow: 0 1px 5px #000;
            
                    & + p {
                        color: $white;
                        font-size: 13px;
                        font-weight: weight(light);
                        margin: 5px 0;
                        white-space: nowrap;
                        span {
                            color: gold;
                        }
                        img {
                            display: none;
                        }
                        @include small-laptop-up {
                            position: relative;
                            img {
                                display: inline;
                                position: absolute;
                                right: -7%;
                                top: 20px;
                            }
                            
                        }
                    }
                }
                .ctas {
                    button {
                        width: 165px;
                        height: 55px;
                        border-radius: 32px;
                        background: $prim;
                        color: $white;
                        box-shadow: 0 3px 0 rgba(#000, 0.53);
                        transition: all .2s ease;

                        &:active {
                            transform: translateY(3px);
                            box-shadow: 0 0 0 rgba(#000, 0.53);
                        }
                
                        &:last-child {
                            display: none;
                        }
                    }
                }
            }
        }

        @include tablet {
            .item-2 {
                display: none;
            }

            .item-1 {
                div.landing-prim-content {
                    @include flex(center, null, null, wrap);
                    // background: red;
                    p:first-child {
                        max-width: 600px;
                        text-align: center;
                        width: 100%;
                
                        & + p {
                            font-size: 12px;
                            font-weight: weight(regular);
                            margin-bottom: 10px;
                            margin-top: 5px;
                            text-align: center;
                            width: 100%;
                        }
                    }
                    .ctas {
                        button {
                            &:last-child {
                                display: inline;
                                background: transparent;
                                border: 1px solid;
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }
        }

        @include mobile {
            .item-1 {
                // max-width: none;
                min-width: 0;
                div.landing-prim-content {
                    @include flex(center, null, null, wrap);
                    // width: 100%;
                    p:first-child {
                        // background: red;
                        font: {
                            weight: weight(medium);
                            // javascript will work here
                            size: 13vw;
                        }
                        // max-width: 300px;
                        text-align: center;
                        line-height: 13vw;
            
                        & + p {
                            font-size: 2.7vw;
                            font-weight: weight(regular);
                            margin-bottom: 10px;
                            margin-top: 5px;
                        }
                    }
                    .ctas {
                        button {
                            &:last-child {
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        // @include small-laptop-up {
            .item-2 {
                // background: brown;
                @include flex(center, center);
                @include big-screen {
                    @include flex(flex-start);
                }
                

                @include tablet {
                    position: fixed;
                    margin: auto;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    @include animate;

                }
                .order-form {
                    font-family: Dosis;
                    width: 296px;
                    height: 485px;
                    margin-top: 60px;
                    background: $white;
                    border-radius: 5px;
                    box-shadow: 0 0 4px rgba(#000, .3);
                    @include tablet {
                        box-shadow: 0 0 60px 30px rgba(#000, .3);
                    }
                    padding: 20px 20px 0px;

                    .form-title {
                        text-align: center;
                        font: {
                            size: 30px;
                            weight: weight(medium);
                        }
                    }

                    form {
                        .field {
                            position: relative;
                            width: 100%;

                            @include flex(space-between);

                            input {
                                width: 0;
                                flex: 1;
                                border: none;
                                outline: none;
                                height: 40px;
                                border-radius: 5px;
                                background: #ececec;
                                margin: 8.5px 0;

                                padding-left: 15px;
                                font-weight: 500;
                                &::-webkit-input-placeholder {
                                    color: #000;
                                }
                            }

                            input[disabled] {
                                color: #000;
                            }

                            &:nth-last-of-type(3), &:nth-last-of-type(2) {
                                input {
                                    padding-right: 23px;
                                    overflow-x: auto;
                                    max-width: 49%;
                                    &:first-child {
                                        cursor: pointer;

                                    }
                                }
                                position: relative;

                                &::after {
                                    position: absolute;
                                    content: '';
                                    width: 20px;
                                    top: 40%;
                                    bottom: 0;
                                    left: -15%;
                                    right: 0;
                                    margin: auto auto;
                                    background: url(../img/dropdown.png) no-repeat;
                                    background-size: auto;
                                }
                            }

                            span[id*='trigger'] {
                                position: absolute;
                                width: 125px;
                                height: 39px;
                                background: red;
                                top: 10px;
                                opacity: 0;
                                cursor: pointer;
                            }
                        }

                        .notice {
                            font-size: 12px;
                            text-align: center;
                            line-height: 4px;
                            color: silver;
                            font-weight: 100;
                        }
                        button {
                            // font-family: Dosis;
                            width: 100%;
                            background: $prim;
                            height: 50px;
                            margin-top: 17px;
                            border-radius: 5px;
                            color: $white;
                            font-weight: 500;
                        }
                    }
                }
            }
        // }
    }
}
