div.landing-page {
    background: url(../img/landing_img.jpg) no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-origin: border-box;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
    @include small-laptop-up {
        // padding: 0 slice(200px);
    }
    @include flex(center);

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(#000, .25);
        z-index: -1;
    }

    .landing-contents {
        width: 100%;
        height: 100%;
        @include flex();

        .item-1, .item-2 {
            flex: 1;
            height: 100%;
        }

        .item-1 {
            background: orange;
        }

        .item-2 {
            background: brown;
        }
    }
}
