div.dish-list {
    position: fixed;
    @include small-laptop-up {
        position: absolute;
    }
    width: 100%;
    max-width: 296px;
    min-width: 296px;
    background: $white;
    height: 500px;
    top: 8%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
    border-radius: 5px;
    box-shadow: 0 0 60px 30px rgba(#000, .3);
    overflow-y: auto;
    

    .search-bar {
        position: sticky;
        z-index: 3;
        top: 10px;
        width: 90%;
        margin: 10px auto;
        background: $white;
        height: 45px;
        @include flex(space-between);

        input {
            width: 78%;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding-left: 15px;
            font-size: 21px;

            &::-webkit-input-placeholder {
                color: #ccc;
            }
        }

        button {
            width: 20%;
            border-radius: 5px;
            background: $prim;
            color: $white;
            font-size: 15px;
            line-height: 15px;
        }
    }

    .dish {
        cursor: pointer;
        width: 90%;
        margin: 0 auto;
        height: 45px;
        border-bottom: 2px solid #ccc;
        @include flex(space-between, center);

        .dish-selector {
            cursor: pointer;
            position: relative;
            width: 25px;
            height: 25px;
            border-style: solid;
            border-color: #ccc;
            margin-right: 10px;

        }
        .dish-selector.selected-main-dish, .dish-selector.selected-side-dish {
            &::after {
                content: "";
                position: absolute;
                margin: auto;
                background: $prim;
            }
        }
    }

    &#main-dish-list {
        .dish-selector {
            border-width: 3px;
            border-radius: 50%;

        }
        .dish-selector.selected-main-dish {
            &::after {
                top: 5px;
                right: 5px;
                bottom: 5px;
                left: 5px;
                border-radius: 50%;
            }
        }
    }

    &#side-dish-list {
        .dish-selector {
            border-width: 3px;
            border-radius: 5px;

        }
        .dish-selector.selected-side-dish {
            &::after {
                top: 3px;
                right: 3px;
                bottom: 3px;
                left: 3px;
                border-radius: 2.5px;
            }
        }
    }

    @include animate;
}

div.pop-up-page {
    position: fixed;
    @include small-laptop-up {
        position: absolute;
    }
    width: 100%;
    max-width: 50%;
    @include tablet {
        max-width: 80%;
    }
    min-width: 300px;
    background: $white;
    height: 80%;
    @include tablet {
        height: 60%;
    }
    top: 8%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
    border-radius: 25px;
    box-shadow: 0 0 60px 30px rgba(#000, .3);
    @include flex(center, center, column);

    .screw {
        position: absolute;
        width: 30px;
        height: 30px;
        background: $prim;
        border-radius: 50%;
        border: 5px solid #070782;

        &:nth-child(1) {
            left: slice(23px);
            top: slice(23px);
        }
        &:nth-child(2) {
            right: slice(23px);
            top: slice(23px);
        }
        &:nth-child(3) {
            left: slice(23px);
            bottom: slice(23px);
        }
        &:nth-child(4) {
            right: slice(23px);
            bottom: slice(23px);
        }
    }

    span {
        color: $prim;
    }

    .image-cont {
        width: 50%;
        height: 200px;
        @include small-laptop {
            height: 175px;
        }
        @include tablet {
            height: 150px;
        }
        @include mobile {
            height: 125px;
        }
        // border: 1px solid;
        background: url(../img/thank_you.png) no-repeat center/contain;

        & + p {
            font: {
                size: 3vw;
                weight: weight(bold);
            }
            @include small-laptop {
                font-size: 3.5vw;
            }
            @include tablet {
                font-size: 5vw;
            }
            @include mobile {
                font-size: 8vw;
            }
            color: #333;

            span {
                font-weight: weight(light);
                color: $prim;
            }

            & + p {
                font-size: 1.05vw;
                line-height: 1.05vw;
                @include small-laptop {
                    font-size: 1.20vw;
                    line-height: 1.20vw;
                }
                @include tablet {
                    font-size: 1.6vw;
                    line-height: 1.6vw;
                }
                @include mobile {
                    font-size: 2.5vw;
                    line-height: 2.5vw;
                }
                font-weight: weight(medium);

                & + a {
                    font-size: 1.5vw;
                    @include small-laptop {
                        font-size: 2vw;
                    }
                    @include tablet {
                        font-size: 2.5vw;
                    }
                    @include mobile {
                        font-size: 4vw;
                    }
                    // line-height: 25px;
                    color: $prim;
                    text-decoration: underline;

                    & + p {
                        font-size: 1.05vw;
                        @include small-laptop {
                            font-size: 1.20vw;
                        }
                        @include tablet {
                            font-size: 1.6vw;
                        }
                        @include mobile {
                            font-size: 2.5vw;
                        }
                        font-weight: weight(medium);
                    }
                }
            }
        }
    }
    @include animate;
}

