* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

button, input, textarea {
    outline: none;
    border: none;
}

button, input {
    -webkit-tap-highlight-color: transparent;
}