div.testimonials-section {
    background: #f6f9fc;
    padding: 3vw 5% 0;
    margin: 0 auto;
    height: initial;
    @include flex(center, center, column);

    & > p:first-child {
        color: $grey;
        font: {
            size: 30px;
            weight: weight(black);
        }
        line-height: 35px;
        @include small-laptop-up {
            font: {
                size: 2.5vw;
                weight: weight(black);
            }
            line-height: 3.5vw;
        }
        @include tablet {
            font: {
                size: 3.5vw;
                weight: weight(black);
            }   
            line-height: 4.5vw;
        }

        span:first-child {
            font-weight: weight(light);

            & + span {
                color: $prim;
            }
        }

        & + p {
            color: $grey;
            font-weight: weight(medium);

            span {
                color: $prim;
            }
            @include mobile {
                font-size: 2.5vw;
            }
        }
    }

    .testimonials-cont {
        margin: 4vh 0;

        .testimonial {
            @include flex(space-around);
        }

       
        .testimony {
            @include flex();
            width: 300px;
            min-width: 300px;
            @include tablet {
                width: 290px;
                min-width: 290px;
            }

            @include mobile {
                width: 90%;
                min-width: 90%;
            }
            & > span {
                line-height: 100px;
                font-size: 100px;
                @include tablet {
                    line-height: 70px;
                    font-size: 70px;
                }
                font-family: Dosis;
                font-weight: weight(black);
                margin-top: -15px;
                margin-right: 10px;
                @include tablet {
                    margin-top: -7px;
                    margin-right: 5px;
                }
                color: $prim;
            }
            .testimony-content {
                color: $grey;
                border-right: 1px dashed $prim;
                padding-right: 5px;
                font-size: 17px;
                font-weight: weight(light);
                margin: 0 auto;
                @include tablet {
                    font-size: 15px;
                }

                #test-info {
                    // display: inline-block;
                    font-size: 14px;
                    color: $prim;
                    font-weight: weight(medium);
                    @include flex(null, center);
                    margin-top: 10px;

                    #test-pic {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        padding: 2px;
                        border: 2px solid $prim;
                        background: url(../img/testifier.png) no-repeat center 0/contain content-box content-box;
                    }
                    #test-star {
                        // margin-left: 15px;
                        @include flex();
                    }
                    #test-name {
                        margin: 0 5px;
                    }
                    i {
                        font-style: normal;
                        &::before {
                            color: $prim;
                            font-family: 'Font Awesome 5 Free Solid';
                            content: "\f005";
                        }
                        &:last-child {
                            &::before {
                                color: #ccc;
                                font-family: 'Font Awesome 5 Free Regular';
                                content: "\f005";
                            }
                        }
                    }
                }
            }
        }
    }

    .caro-nav {
        margin: 4% 0;
        width: 30px;
        @include flex(space-evenly);

        span {
            width: 6px;
            height: 6px;
            background: #505050;
            border-radius: 50%;

            &:first-child {
                background: $prim;
            }
        }           
    }
}
