$prim: #1f7fd6;
$grey: #333;
$white: #fff;
$black: #000;
$footBlack: #161616;

@mixin flex($jc:null, $ai:null, $dir:null, $fw:null) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $dir;
    flex-wrap: $fw;
}

$font-weights: (
    light: 300,
    regular: 400,
    medium: 500,
    semibold: 600,
    bold: 700,
    black: 900,
);

$ills-map: (
    step-1-ill: url(../img/step_1.png),
    step-2-ill: url(../img/step_2.png),
    step-3-ill: url(../img/step_3.png),
    step-4-ill: url(../img/step_4.png),
    step-5-ill: url(../img/step_5.png),
);

@function weight($weightArg) {
    @return map-get($font-weights, $weightArg);
}

@function stepIll($stepNum) {
    @return map-get($ills-map, step-#{ $stepNum }-ill);
}

@function slice($value) {
    @return $value * (69 / 100);
}

@mixin big-screen {
    @media (min-width: 993px) {
        @content;
    } 
}

@mixin small-laptop {
    @media (max-width: 992px) {
        @content;
    } 
}

@mixin small-laptop-up {
    @media (min-width: 769px) {
        @content;
    }
}

@mixin tablet-up {
    @media (min-width: 577px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 768px) {
        @content;
    } 
}

@mixin mobile {
    @media (max-width: 576px) {
        @content;
    }
}
